_svn/
.svn/
obj/
[Bb]in/
[Dd]ebug/   
[Rr]elease/   
_Re[Ss]harper.*
*.[Rr]e[Ss]harper
*.[Rr]e[Ss]harper.user
*.suo
*.cache
*~
*.swp
*.nupkg
*.ldb
import/wp_gwo_cformsdata.sql
import/wp_gwo_cformssubmissions.sql
src/Gemeihnwohloekonomie-DB.userprefs
*.Publish.xml