@{
    ViewBag.Title = "Company";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="span8" >
    
    <h2>Das Unternehmen wurde erfolgreich eingetragen.</h2>
    
    <div class="alert alert-success" style="margin-top:30px;">
        Das Unternehmen wurde erfolgreich eingetragen und ist ab jetzt als Untersützer gelistet. 
        
        <br/><br/>
        <ul style="list-style-type:none ;">
            <li><a href="/"><i class="icon-arrow-right"></i> Zur Unterstützerübersicht </a></li>
        </ul>
    </div>

</div>
