@using GwoDb
@{
    ViewBag.Title = "Suche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model SearchModel
           
<style>
    
    .item:hover{ background-color: lightyellow;}
    
</style>

<div class="span6">

@using (Html.BeginForm()) {
    

    <div class="form-search well">
        @Html.TextBoxFor(m => m.SearchTerm, new{@class="input-xlarge"})
        <input type="submit" class="btn btn-primary"/>
    </div>                    
    
    @Html.Pager(Model.Pager)
    
    foreach (var item in Model.Organisations)
    {
        <div class="item" style="padding:6px;">@item.Name</div>
    }
    
    @Html.Pager(Model.Pager)

}
</div>

