@{
    ViewBag.Title = "Suche";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-search well">
    <input type="text" class="input-xlarge" id="input01">
    <button type="submit" class="btn btn-primary">Suche</button>
</div>                    

