    
<div id="modalDelete" class="modal hide fade">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">×</button>
        <h3 id="modalDeleteTitle">.. löschen</h3>
    </div>
    <div class="modal-body">
        <div class="alert alert-error">
            <b>'<span id="spanTitle"></span>'</b> wird unwiederbringlich gelöscht. 
        </div>
    </div>
    <div class="modal-footer">
        <a href="#" class="btn" id="btnCloseQuestionDelete">Schliessen</a>
        <a href="#" class="btn btn-primary btn-danger" id="confirmQuestionDelete">Löschen</a>
    </div>
</div>